@import "../variables.scss";

.pageContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-dark;
  padding: 20px;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  background: $color-light;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 0px rgba($color-dark, 1), 0px 0px 200px 10px rgba($color-primary-light, 0.5);

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: stretch;
    flex-basis: max-content;
    width: 1000px;
  }

  :global {
    .at-form {
      flex-grow: 1;
    }

    .at-title {
      font-size: 36px;
      font-weight: 400;
      margin: 0;
    }

    .at-pwd-form {
      margin-top: 30px;
    }

    .at-input {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      label {
        font-size: 16px;
        line-height: 1.5;
      }

      input {
        margin-top: 5px;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
      }
    }

    .at-btn {
      background: $color-primary;
      color: $color-light;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
    }

    .at-signup-link {
      margin-top: 40px;
    }

    .at-signin-link {
      margin-top: 40px;
    }
  }
}

.formContainer {
  display: flex;
  align-items: center;
  padding: 40px;
  flex-grow: 1;

  @media (min-width: 768px) {
    padding: 100px;
  }
}

.artwork {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    height: 700px;
  }
}

.artworkMobile {
  height: 200px;
  background: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  object {
    height: 120%;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}
